<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Samandar">
    <link rel="stylesheet" href="/webroot/css/foundation.css">
    <link rel="stylesheet" href="/webroot/css/style.css">
</head>
<body>

<div>
    <h6 style="text-align: center;">Please wait !!! Your opponent has not launched his/her board!!!</h6>
    <br>
    <a href="/welcome/${player}/play/0/0/0" class="radius medium secondary button">Check</a>
</div>


</body>
</html>